@import "tailwindcss";

@config '../tailwind.config.ts';

@theme {
    --primary_dark: '#191919';
    --maroon: '#750E21';

}


.test {
    background-image: url(./static/images/Login\ \(1\).png);
    background-position: right;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}

.test2 {
    background-image: url(./static/images/start.jpg);
    background-position: right;
    background-size: cover;
    height: 100vh;
    width: 100%;
}



@layer base {
  body {
    @apply dark:bg-black;
  }
}



.light-start {
    background-image: url('./src/assets/images//start.jpg');
}

.dark-Login {
    background-image: url('./src/assets/images//Login.jpg');
}

.dark-car {
    background-image: url('./src/assets/images//login-dark.jpg');
}

.light-car {
    background-image: url('./src/assets/images//login-white.avif');
}

.signin-light {
    background-image: url('./src/assets/images//sign-in-light.jpg');
}

.signin-dark {
   background-image: url('./src/assets/images//sign-in-dark.webp');
}