@import "tailwindcss";

@config '../tailwind.config.ts';

@theme {
    --primary_dark: '#191919';
    --maroon: '#750E21';

}


.test {
    background-image: url(./static/images/Login\ \(1\).png);
    background-position: right;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}

.test2 {
    background-image: url(./static/images/start.jpg);
    background-position: right;
    background-size: cover;
    height: 100vh;
    width: 100%;
}